body {
background-image: url("http://img21.laughinggif.com/pic/HTTPS9tZWRpYS50ZW5vci5jby9pbWFnZXMvOWI5MDdjNzMzM2VkN2ZkYmRhZGYyMDc0YzQ2N2FmM2IvdGVub3IuZ2lm.gif");
background-image: cover;
background-attachment: fixed;

  background-color: red;
  color: white;

}

#MainTitle {
  text-align: center;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}
